<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kututistesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name=".activities.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ResultadosActivity"></activity>
        <activity android:name=".activities.VocabularioActivity" />
        <activity
            android:name=".activities.SesionConsonanticoGrabarActivity"
            android:parentActivityName=".activities.FonemasConsonanticosActivity"
            android:noHistory="true"/>
        <activity
            android:name=".activities.HistorialAudiosFechas"
            android:parentActivityName=".activities.PaginaPrincipalActivity" />
        <activity
            android:name=".activities.FonemasConsonanticosActivity"
            android:label="Fonemas Consonánticos"
            android:parentActivityName=".activities.PaginaPrincipalActivity" />
        <activity
            android:name=".activities.FonemasVocalicosActivity"
            android:label="Fonemas Vocálicos"
            android:parentActivityName=".activities.PaginaPrincipalActivity" />
        <activity
            android:name=".activities.BienvenidaActivity"
            android:label="Bienvenida" />
        <activity
            android:name=".activities.PraxiasActivity"
            android:label="Praxias"
            android:parentActivityName=".activities.PaginaPrincipalActivity" />
        <activity
            android:name=".activities.Registro3Activity"
            android:label="Registro"
            android:parentActivityName=".activities.Registro2Activity" />
        <activity
            android:name=".activities.Registro2Activity"
            android:label="Registro"
            android:parentActivityName=".activities.Registro1Activity" />
        <activity
            android:name=".activities.Registro1Activity"
            android:label="Registro"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.PaginaPrincipalActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.SesionPraxiaGrabarActivity"
            android:label="Grabar Praxia"
            android:parentActivityName=".activities.PraxiasActivity" />
        <activity
            android:name=".activities.HistorialVideos"
            android:label="Historial Videos"
            android:parentActivityName=".activities.PaginaPrincipalActivity" />
        <activity
            android:name=".activities.HistorialVideosFechas"
            android:parentActivityName=".activities.PaginaPrincipalActivity" />
        <activity
            android:name=".activities.SesionVocalGrabarActivity"
            android:label="Grabar Audios"
            android:parentActivityName=".activities.FonemasVocalicosActivity" />
        <activity
            android:name=".activities.HistorialAudios"
            android:label="Grabar Audios"
            android:parentActivityName=".activities.PaginaPrincipalActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>