<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kututistesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name=".util.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_kututis"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_kututis_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MonstruoActivity"></activity>
        <activity
            android:name=".activities.MenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.consonanticos.ConsonanticosResultadosActivity"
            android:parentActivityName=".activities.consonanticos.ConsonanticosMenu2Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".activities.consonanticos.ConsonanticosMenu2Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.consonanticos.ConsonanticosSesionActivity"
            android:parentActivityName=".activities.consonanticos.ConsonanticosMenu2Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.vocalicos.VocalicosHistorialActivity"
            android:parentActivityName=".activities.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.MenuLogros"
            android:label="Menu Logros"
            android:parentActivityName=".activities.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.consonanticos.ConsonanticosMenuActivity"
            android:label="Fonemas Consonánticos"
            android:parentActivityName=".activities.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.vocalicos.VocalicosMenuActivity"
            android:label="Fonemas Vocálicos"
            android:parentActivityName=".activities.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.BienvenidaActivity"
            android:label="Bienvenida"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.praxias.PraxiasMenuActivity"
            android:label="Praxias"
            android:parentActivityName=".activities.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.registro.Registro3Activity"
            android:label="Registro"
            android:parentActivityName=".activities.registro.Registro2Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.registro.Registro2Activity"
            android:label="Registro"
            android:parentActivityName=".activities.registro.Registro1Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.registro.Registro1Activity"
            android:label="Registro"
            android:parentActivityName=".activities.InicioSesionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.Editar2Activity"
            android:label="Editar2"
            android:parentActivityName=".activities.Editar1Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.Editar1Activity"
            android:label="Editar1"
            android:parentActivityName=".activities.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.MedicoActivity"
            android:label="Medico"
            android:parentActivityName=".activities.Editar1Activity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".activities.MenuPrincipalActivity"
            android:parentActivityName=".activities.InicioSesionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.praxias.PraxiasSesionActivity"
            android:label="Grabar Praxia"
            android:parentActivityName=".activities.praxias.PraxiasMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.praxias.PraxiasHistorialActivity"
            android:parentActivityName=".activities.MenuPrincipalActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.vocalicos.VocalicosSesionActivity"
            android:label="Grabar Audios"
            android:parentActivityName=".activities.vocalicos.VocalicosMenuActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.AcercaActivity"
            android:label="Acerca de"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" >

        </activity>
        <activity
            android:name=".activities.InicioSesionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>