<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kututistesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name=".util.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.consonanticos.ResultadosActivity"></activity>
        <activity android:name=".activities.consonanticos.VocabularioActivity" />
        <activity
            android:name=".activities.consonanticos.SesionConsonanticoGrabarActivity"
            android:parentActivityName=".activities.consonanticos.FonemasConsonanticosActivity" />
        <activity
            android:name=".activities.vocales.HistorialAudiosFechas"
            android:parentActivityName=".activities.MenuPrincipalActivity" />
        <activity
            android:name=".activities.consonanticos.FonemasConsonanticosActivity"
            android:label="Fonemas Consonánticos"
            android:parentActivityName=".activities.MenuPrincipalActivity" />
        <activity
            android:name=".activities.vocales.FonemasVocalicosActivity"
            android:label="Fonemas Vocálicos"
            android:parentActivityName=".activities.MenuPrincipalActivity" />
        <activity
            android:name=".activities.BienvenidaActivity"
            android:label="Bienvenida" />
        <activity
            android:name=".activities.praxias.PraxiasActivity"
            android:label="Praxias"
            android:parentActivityName=".activities.MenuPrincipalActivity" />
        <activity
            android:name=".activities.registro.Registro3Activity"
            android:label="Registro"
            android:parentActivityName=".activities.registro.Registro2Activity" />
        <activity
            android:name=".activities.registro.Registro2Activity"
            android:label="Registro"
            android:parentActivityName=".activities.registro.Registro1Activity" />
        <activity
            android:name=".activities.registro.Registro1Activity"
            android:label="Registro"
            android:parentActivityName=".activities.InicioSesionActivity" />
        <activity
            android:name=".activities.MenuPrincipalActivity"
            android:parentActivityName=".activities.InicioSesionActivity" />
        <activity
            android:name=".activities.praxias.SesionPraxiaGrabarActivity"
            android:label="Grabar Praxia"
            android:parentActivityName=".activities.praxias.PraxiasActivity" />
        <activity
            android:name=".activities.praxias.HistorialVideosFechas"
            android:parentActivityName=".activities.MenuPrincipalActivity" />
        <activity
            android:name=".activities.vocales.SesionVocalGrabarActivity"
            android:label="Grabar Audios"
            android:parentActivityName=".activities.vocales.FonemasVocalicosActivity" />
        <activity android:name=".activities.InicioSesionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>